<!DOCTYPE html>
<html ng-app="movie">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<script src="js/angular/angular.min.js"></script>
		<script src="js/angular/app.js"></script>
	</head>
	<body ng-controller="MovieController as movieStore">
		<div ng-repeat="movie in movieStore.movies | orderBy:'title'" class="list-group-item">
			<section class="tab" ng-controller="TabController as controller">
				<section class="nav nav-pills">
					<li ng-class="{active:controller.isSet(1)}">
						<a href ng-click="controller.setTab(1)">Overview</a>
					</li>
					<li ng-class="{active:controller.isSet(2)}">
						<a href ng-click="controller.setTab(2)">Reviews</a>
					</li>
				</section>
				<div ng-show="controller.isSet(1)">
					<h4>Overview</h4>
					<h3>{{movie.title}}</h3>
					<p>{{movie.year}}</p>
					<p>by {{movie.author}}</p>
				</div>
				<div ng-show="controller.isSet(2)">
					<h4>Reviews</h4>
					<li ng-repeat="review in movie.reviews">
						<blockquote>
							<strong>{{review.stars}} Stars</strong>
							{{review.body}}
							<cite class="clearfix">{{review.author}}</cite>
						</blockquote>
					</li>
					<review-form></review-form>
				</div>
			</section>
		</div>
	</body>
</html>
